.CFUserTextEncoding
.DS_Store
.Trash/
.account
.anyconnect
.atom/
.bash_history
.bash_profile.macports-saved_2015-07-26_at_12:56:09
.bash_profile.macports-saved_2015-07-26_at_16:14:39
.bashrc
.config/
.cups/
.dropbox/
.gitconfig
.gitignore_global
.keepassx/
.lesshst
.ssh/
.sshrc
.subversion/
.swo
.tmux_start.sh
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
trp/
